@hilite-color: #e03800;
@background-color: #1d1e20;
@text-color: #fefefe;

@badge-block-width: 250px;
@badge-block-height: 200px;
@badge-block-offset: -(@badge-block-height)/4;
@review-pad: 20px;

.review-footer {
    /* badge pseudo block */
    &::before {
        content: "";
        display: block;
        float:right;
        height:@badge-block-height;
        width:@badge-block-width;
        position: relative;
        top: @badge-block-offset - @review-pad;
        left: @badge-block-width;
        margin-left: -@badge-block-width;
        background: url(badge-happy-medium.png) no-repeat center left;
    }

    /* clearfix left */
    &::after {
        content: "";
        display: block;
        clear:left;
    }

    /* review content with provision for the floating badge */
    & {
        margin-top: -@badge-block-offset;
        border-top: solid @hilite-color 4px;
        padding-right: @badge-block-width;
        padding-top: @review-pad;
        padding-bottom: @review-pad;
        background: @background-color;
        color: @text-color;

    }

    /* typical review content */
    > ul, > div {
        float: left;
        margin-left: 3em;
        margin-right: 0px;
        margin-bottom: 0em;
        min-width: 35%;
    }

   .the-good::before, .the-bad::before {
        content: "THE GOOD";
        display: block;
        margin-left: -1.5em;
   }

   .the-good {
        color: #ffffff;
        max-width: 38%;

        &::before {
            content: "THE GOOD";
        }

        & > li {
            list-style-image: url(bullet-good.png);
        }
   }

   .the-bad {
        color: @hilite-color;
        max-width: 38%;

        &::before {
            content: "THE BAD";
        }

        & > li {
            list-style-image: url(bullet-bad.png);
        }
   }
}

